!target/doc
target
**.DS_Store

##vendor
vendor/num-traits/
vendor/num_cpus/
vendor/object/
vendor/once_cell/
vendor/opaque-debug/
vendor/password-hash/
vendor/pbkdf2/
vendor/percent-encoding/
vendor/pin-project-lite/
vendor/pin-utils/
vendor/pkcs8/
vendor/poly1305/
vendor/ppv-lite86/
vendor/proc-macro2/
vendor/quote/
vendor/rand/
vendor/rand_chacha/
vendor/rand_core/
vendor/regex-automata/
vendor/regex-syntax/
vendor/regex/
vendor/reqwest/
vendor/rfc6979/
vendor/ring-0.16.20/
vendor/ring/
vendor/rpassword/
vendor/rtoolbox/
vendor/rustc-demangle/
vendor/rustc_version/
vendor/rustls-0.20.9/
vendor/rustls-pemfile/
vendor/rustls-webpki/
vendor/rustls/
vendor/rustversion/
vendor/ryu/
vendor/salsa20/
vendor/scrypt/
vendor/sct/
vendor/sec1/
vendor/secp256k1-0.24.3/
vendor/secp256k1-sys-0.6.1/
vendor/secp256k1-sys/
vendor/secp256k1/
vendor/semver/
vendor/serde/
vendor/serde_derive/
vendor/serde_json/
vendor/serde_urlencoded/
vendor/sha1/
vendor/sha2/
vendor/signature/
vendor/slab/
vendor/socket2-0.4.10/
vendor/socket2/
vendor/spin-0.5.2/
vendor/spin/
vendor/spki/
vendor/subtle/
vendor/syn-1.0.109/
vendor/syn/
vendor/system-configuration-sys/
vendor/system-configuration/
vendor/thiserror-impl/
vendor/thiserror/
vendor/thread-priority/
vendor/tinyvec/
vendor/tinyvec_macros/
vendor/tokio-rustls/
vendor/tokio-util/
vendor/tokio/
vendor/tower-service/
vendor/tracing-core/
vendor/tracing/
vendor/try-lock/
vendor/tungstenite/
vendor/typenum/
vendor/unicode-bidi/
vendor/unicode-ident/
vendor/unicode-normalization/
vendor/universal-hash/
vendor/untrusted-0.7.1/
vendor/untrusted/
vendor/url/
vendor/utf-8/
vendor/version_check/
vendor/want/
vendor/wasi/
vendor/wasm-bindgen-backend/
vendor/wasm-bindgen-futures/
vendor/wasm-bindgen-macro-support/
vendor/wasm-bindgen-macro/
vendor/wasm-bindgen-shared/
vendor/wasm-bindgen/
vendor/web-sys/
vendor/webpki-roots-0.22.6/
vendor/webpki-roots/
vendor/webpki/
vendor/winapi-i686-pc-windows-gnu/
vendor/winapi-x86_64-pc-windows-gnu/
vendor/winapi/
vendor/windows-sys/
vendor/windows-targets/
vendor/windows_aarch64_gnullvm/
vendor/windows_aarch64_msvc/
vendor/windows_i686_gnu/
vendor/windows_i686_msvc/
vendor/windows_x86_64_gnu/
vendor/windows_x86_64_gnullvm/
vendor/windows_x86_64_msvc/
vendor/winreg/
vendor/zeroize/
